:root {
    --colorfontPrincipal: #3366cc;
    --fontFamily: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.header__container {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 4rem;
}

.logoPrincipal {
    display: flex;
    align-items: center;
    height: 6.8rem;
}

.header__container--titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.header__container--titulos h1 {
    font-size: 2.4rem;
}

.header__container--titulos span {
    font-size: 3.8rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.main_principal {
    display: flex;
    width: 100vw;
    height: 50rem;
    font-family: var(--fontFamily);
    flex-wrap: wrap;
}

.main_principal a {    
    font-size: 1.4rem;
    color: var(--colorfontPrincipal);
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1rem;    
}

.main_principal span {
    font-size: 1.3rem;
    color: #54595d;   
}

.main_principal_divGeneral {
    width: 32%;
    height: 5rem;
    text-align: center;
    padding: 0 1rem;
}

.main_principal_divGeneral:hover {
    cursor: pointer;
    background-color: #eaecf0;
    text-decoration: underline;
}

.item5, .item6 {
    order: -1;
}

.main__busqueda {
    order: -1;
    display: flex;
    margin: 3rem 0;
    max-width: 55rem;
    justify-content: center;
    height: 6rem;
}

.main__busqueda__container {
    width: 100%;
    height: 5rem;
    border: gray solid .5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__busqueda__texto {
    width: 100%;
    height: auto;
    border-style: none;
    border: none;
    outline: none;
    padding-left: 2rem;
}

.main__busqueda__idioma {
    align-items: center;
    height: 2.5rem;
    border-style: none;
    margin-right: 1rem;
}

.main__busqueda--button {
    width: 5rem;
    height: 5rem;
    background-color: var(--colorfontPrincipal);
    border-style: none;
    border-radius: 2px;
    border: gray solid .5px;
}

.main__busqueda__container:hover {    
    border: #3366cc solid 2.5px;    
}

.main__idioma {    
    height: 3.5rem;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__idioma--line{
    display: inline-block;
    border-top: gray solid .5px;
    width: 30%;
    margin: 0 2.5%;
}

.main__idioma button {
    width: 35rem;
    min-height: 3.5rem;
    color: var(--colorfontPrincipal);
    background: none;
    border: .5px solid gray;
    font-size: 1.6rem;
}

.aside {
    width: 100vw;
    height: auto;
    border-top: solid gray .5px;
    border-bottom:  solid gray .5px;
    margin: 0 auto;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.3rem;
    font-family: var(--fontFamily);
}

.aside-descarga-apps {
    height: 3rem;
    background: none;
}

.aside__container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;
    width: 100vw;
}

.aside__container1--figure {
    padding-top: 1rem;
}

.aside__container1--texto {
    padding: 1.5rem;
    text-align: center;
    padding-bottom: 3rem;
}

.aside__container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 3;    
    width: 100vw;
    background-color: #f0f8ff;
    padding: 2rem;
    font-size: 1.3rem;
}

.aside__container2--texto {
    padding: 1rem;
    text-align: justify;
}

.aside__container2--figure {
    display: flex;
    margin: 1rem 0;
}

.aside__container2--texto--apps {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
}

.aside-logos {
    width: 3.5rem;
}

aside a {
    text-decoration: none;
    color: var(--colorfontPrincipal);
}

.aside-container3 {
    display: flex;
    order: 2;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
}

.containerGeneral {
    display: inline-flex;
    width: 13rem;
    height: 8rem;
    margin: 1rem;
}

.containerGeneral__figure {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.containerGeneral--content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.containerGeneral--link {
    width: 100%;
    text-decoration: none;
    height: 8rem;
    color: none;
}

.footer {
    min-height: 6rem;
    width: 100vw;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: auto;
}

.footer__nav {
    display: inherit;
    height: 5rem;
    width: 80vw;
    list-style: none;    
    justify-content: space-between;
    align-items: center;
}

.footer__nav li {
    display: inherit;
}

.footer__nav a {    
    text-decoration: none;
    color: var(--colorfontPrincipal);
}

.footer__nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}
