:root {
    --colorfontPrincipal: #3366cc;
    --fontFamily: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 3.5rem;
    margin-top: 4rem;    
    font-weight: 100;
}

header span {
    font-size: 3.6rem;
}

header img {
    margin: 7.5rem;
    width: 22rem;
}

.main_principal {
    display: flex;
    width: 100vw;
    height: 50rem;
    font-family: var(--fontFamily);
    flex-wrap: wrap;
}

.main_principal a {    
    font-size: 1.4rem;
    color: var(--colorfontPrincipal);
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1rem;    
}

.main_principal span {
    font-size: 1.3rem;
    color: #54595d;   
}

.main_principal_divGeneral {
    width: 32%;
    height: 5rem;
    text-align: center;
    padding: 0 1rem;
}

.main_principal_divGeneral:hover {
    cursor: pointer;
    background-color: #eaecf0;
    text-decoration: underline;
}

.diseñador {
    order: -1;
}

.main_busqueda {
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
    width: 55rem;  
    height: 6rem;  
}

.main_busqueda div {
    width: 50rem;
    height: 5rem;
    border: gray solid .5px;
    display: flex;
    justify-content: space-between;
}

.main_busqueda__texto {
    width: 90%;
    height: 4.7rem;
    border-style: none;
}

.main_busqueda__idioma {
    align-items: center;
    width: 10%;
    height: 3rem;
    border-style: none;
}

.main_busqueda button {    
    width: 6rem;
    height: 5rem;
    background-color: var(--colorfontPrincipal);
    border-style: none;
    border-radius: 2px;
    border: gray solid .5px;
}

.main_idioma {
    width: 55rem;
    height: 3.5rem;
    margin: 0 auto;
    margin-top: 4rem;
}

.main_idioma div {
    display: inline-block;
    border-top: gray solid .5px;
    width: 15%;
    margin: 0 2.5%;
}

.main_idioma button {
    width: 59%;
    height: 3.5rem;
    color: var(--colorfontPrincipal);
    background: none;
    border: .5px solid gray;
    font-size: 1.6rem;
}

.aside {
    width: 95vw;
    border-top: solid gray .5px;
    border-bottom:  solid gray .5px;
    margin: 0 auto;
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-family: var(--fontFamily);
}

.aside-descarga-apps {
    height: 3rem;
    background: none;
    margin: 1rem 2rem;
}

.aside-container1 {
    display: flex;
    justify-content: center;
    order: 1;
    width: 50rem;
}

.aside-container1-div-logo {
    width: 3.5rem;
}

.aside-container2 {
    display: flex;
    order: 2;
    justify-content: center;
    width: 50rem;
}

.aside-container2-div-logo{
    width: 3.5rem;
}

.aside-left-div-logos {       
    width: 15%;
    height: 100%;
}

.aside-logos-left {
    width: 100%;
    background: none;
}

.aside-left-div-texto {
    width: 85%;
    padding: 0 5%;
}

.aside-right {
    width: 60%;
    padding: 1%;
}

aside a {
    color: var(--colorfontPrincipal);
}


.aside-logos-right {
    width: 3.5rem;
}

.aside-container3 {
    width: 60vw;
    order: 3;
}

.footer {
    min-height: 6rem;
    width: 100vw;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: auto;
    background: linear-gradient(#FFFFFF, #6DD5FA);
}

.footer__portafolio {
    order: 1;
    height: auto;
    width: 100%;
    display: inherit;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: var(--colorfontPrincipal);
}

.footer__portafolio-button {
    margin: 1rem;
    height: 3rem;
    width: 10rem;
    border-radius: 5px;
    border: none;
    background-color: #FFC947;
    color: var(--colorfontPrincipal);
}

.footer__portafolio-button:hover {
    cursor: pointer;
    box-shadow: #2980B9;
    border: 1.5px solid blue;
    color:blue;
    text-decoration: underline;
}

.footer__portafolio p {
    text-align: center;
}

.footer__nav {
    display: inherit;
    height: 5rem;
    width: 80vw;
    list-style: none;    
    justify-content: space-around;
    align-items: center;
}

.footer__nav li {
    display: inherit;
}

.footer__nav a {    
    text-decoration: none;
    color: var(--colorfontPrincipal);
}

.footer__nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}
