:root {
    --colorfontPrincipal: #3366cc;
    --fontFamily: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: 3.5rem;
    margin-top: 4rem;    
    font-weight: 100;
}

header span {
    font-size: 3.6rem;
}

header img {
    margin: 7.5rem;
    width: 22rem;
}

.main_principal {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 5 auto;
    margin: 0 auto;
    width: 70rem;
    height: 50rem;
    font-family: var(--fontFamily);
}

.main_principal a {    
    font-size: 1.6rem;
    color: var(--colorfontPrincipal);
    display: block;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1rem;    
}

.main_principal span {
    font-size: 1.2rem;
    color: #54595d;   
}

.main_principal_line1 {  
    margin: 2.3rem auto;
    padding: 0 10rem;
}

.main_principal_line2 {
    display: flex;
    justify-content: space-between;
    margin: 2.3rem auto;
    padding: 0 6rem;
}

.main_principal_line3 {
    display: flex;
    justify-content: space-between;
    margin: 2.3rem auto;
    padding: 0 3rem;  
}

.main_principal_line4 {
    display: flex;
    justify-content: space-between;
    margin: 2.3rem auto;
    padding: 0 6rem;  
}

.main_principal_line5 {
    display: flex;
    justify-content: space-between;
    margin: 2.3rem auto;
    padding: 0 10rem; 
}

.main_principal_divGeneral {
    width: 16rem;
    height: 5rem;
    text-align: center;    
}

.main_principal_divGeneral:hover {
    cursor: pointer;
    background-color: #eaecf0;
    text-decoration: underline;
}

.main_busqueda {
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
    width: 55rem;  
    height: 6rem;  
}

.main_busqueda div {
    width: 50rem;
    height: 5rem;
    border: gray solid .5px;
    display: flex;
    justify-content: space-between;
}

.main_busqueda__texto {
    width: 90%;
    height: 4.7rem;
    border-style: none;
}

.main_busqueda__idioma {
    align-items: center;
    width: 10%;
    height: 3rem;
    border-style: none;
}

.main_busqueda button {    
    width: 6rem;
    height: 5rem;
    background-color: var(--colorfontPrincipal);
    border-style: none;
    border-radius: 2px;
    border: gray solid .5px;
}

.main_idioma {
    width: 55rem;
    height: 3.5rem;
    margin: 0 auto;
    margin-top: 4rem;
}

.main_idioma div {
    display: inline-block;
    border-top: gray solid .5px;
    width: 15%;
    margin: 0 2.5%;
}

.main_idioma button {
    width: 59%;
    height: 3.5rem;
    color: var(--colorfontPrincipal);
    background: none;
    border: .5px solid gray;
    font-size: 1.6rem;
}

.aside {
    width: 95vw;
    border-top: solid gray .5px;
    border-bottom:  solid gray .5px;
    margin: 0 auto;
    margin-top: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    font-family: var(--fontFamily);
}

.aside-descarga-apps {
    height: 3rem;
    background: none;
    margin: 1rem 2rem;
}

.aside-container1 {
    display: flex;
    justify-content: center;
    order: 1;
    width: 50rem;
}

.aside-container1-div-logo {
    width: 3.5rem;
}

.aside-container2 {
    display: flex;
    order: 2;
    justify-content: center;
    width: 50rem;
}

.aside-container2-div-logo{
    width: 3.5rem;
}

.aside-left-div-logos {       
    width: 15%;
    height: 100%;
}

.aside-logos-left {
    width: 100%;
    background: none;
}

.aside-left-div-texto {
    width: 85%;
    padding: 0 5%;
}

.aside-right {
    width: 60%;
    padding: 1%;
}

aside a {
    color: var(--colorfontPrincipal);
}


.aside-logos-right {
    width: 3.5rem;
}

.aside-container3 {
    width: 60vw;
    order: 3;
}


@media (max-width: 700px) {

}